body {
  height: 100vh;
  margin: 0%;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
h2 {
  text-align: center;
  font-size: 30px;
}

.item p {
  display: inline-block;
}
.flavour {
  text-align: left;
  width: 74%;
}
.price {
  text-align: right;
  width: 25%;
}

h1,
h2 {
  font-family: Impact, serif;
}
p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.est {
  font-style: italic;
}

.menu {
  margin-top: 20px;
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

hr {
  height: 2px;
  border-color: brown;
  background-color: brown;
}

.address {
  margin-bottom: 5px;
  font-size: 14px;
}
a {
  font-size: 14px;
}
a:visited {
  color: black;
}
a:hover,
a:active {
  color: brown;
}
